* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-100: #FFFFFF;
    --dark-900: #09090A;
    --dark-600: #808090;
    --green-400: #00FF47;
    --green-white-100: #C3EFC0;
}

body {
    background: var(--dark-900);
}

/* my own classes */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

/* nav bar  */
.nav-title {
    font-size: 1.8rem;
    color: var(--green-400);
}

.nav {
    padding: 40px 40px 0 40px;
    z-index: 2;
}

.navbar-buttons {
    margin-left: auto;
    column-gap: 20px;
}

/* search bar */
.search-bar {
    position: relative;
    width: 600px;
    height: 60px;
    padding: 0 8px 0 20px;
    column-gap: 20px;
    background-image: url(/public/img/search.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.search-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.1rem;
    color: var(--white-100);
}

.search-input::placeholder {
    color: var(--dark-600);
}

.blur-circle-shape {
    position: absolute;
    top: -125px;
    left: -125px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background: var(--green-400);
    z-index: 0;
    filter: blur(250px);
}

/* masonary grid */
.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
}

.my-masonry {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.my-masnry-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgb(9, 9, 10, 0.8), transparent 100%);
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}

.my-masnry-user-box {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    column-gap: 20px;
    margin-bottom: -80px;
    transition: .5s;
}

.my-masnry-user-prof {
    width: 45px;
    height: 45px;
}

.my-masnry-user-prof img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.my-masnry-user-prof-desc {
    row-gap: 10px;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.my-masnry-user-prof-desc h1 {
    color: var(--green-400);
}

.my-masnry-user-prof-desc h3 {
    color: var(--dark-600);
}

.my-masonry:hover .my-masnry-description {
    visibility: visible;
    opacity: 1;
}

.my-masonry:hover .my-masnry-user-box {
    margin-bottom: 15px;
}

/* button */
.button {
    padding: 14px 21px;
    border-radius: 16px;
    cursor: pointer;
}

.button-matrix {
    background-color: var(--green-400);
    transition: .4s;
}

.button-matrix:hover {
    filter: brightness(0.8);
}

.button-transparent {
    background-color: transparent;
    color: var(--white-100);
}

/* input */
.text-center {
    text-transform: uppercase;
    font-size: 23px;
    display: block;
}

.box {
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    padding: 50px 100px;
}


.input {
    color: var(--white-100);
    border: 2px solid var(--green-400);
    border-radius: 10px;
    padding: 10px 25px;
    margin: 10px 0px;
    background: transparent;
    width: 350px;
}

.input:invalid:focus {
    border: 2px solid red;
}

.input:active {
    box-shadow: 2px 2px 15px var(--green-400) inset;
}